<!DOCTYPE html>

{% from "macros.html" import nav_link with context %}
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <title>{% block title %}{% endblock %}</title>
        {% assets "common_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class='navigation'>
            <ul class='menu'>
                {{nav_link('home','Home','navigation')}}
                {{nav_link('gfs','GFS Model','navigation')}}
                {{nav_link('satallites','Satallites','navigation')}}
            </ul>
    
        </div>
        <div class='content'>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>